# Dependencies
/node_modules

# Build
dist/
test/dist/

# DB Data
data/*

# TS Buildinfo file
tsconfig.tsbuildinfo
src/tsconfig.tsbuildinfo
test/tsconfig.tsbuildinfo

# Logs
npm-debug.log
logs/

# Test Coverage
coverage/

# Test Report
report/

# Others
package-lock.json